<div class="container">

    @if (state() === 'listening') {
        <div class="wave-container">
            <canvas #waveCanvas></canvas>
        </div>
    }

    @if (state() === 'processing') {
        <div class="processing-container">
            <div class="grid">
                <div class="bar" *ngFor="let i of [].constructor(20); let idx = index"
                    [style.animationDelay]="(idx * 0.04) + 's'">
                </div>
            </div>
        </div>
    }

    @if (state() === 'speaking') {
        <div class="orb-container">
            <div class="orb">
                <div class="orb-inner"></div>
                <div class="orb-inner"></div>
            </div>
        </div>
    }

</div>